.horizontal_card {
  background-color: white;
  position: relative;
  display: flex;
  word-wrap: normal;
  word-break: break-all;
  flex-direction: column;
  max-width: 300px;
}
.publish {
  display: flex;
}
.summary {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
  max-height: 80px;
}

.vertical_card {
  background-color: white;
  position: relative;
  display: flex;
  gap: 5px;
}
.vertical_card > .title_img {
  clip-path: circle();
  width: 100px;
}
.horizontal_card > .title_img {
  width: 100%;
}

.horizontal_card > .floating_close {
  cursor: pointer;
  width: 40px;
  position: absolute;
  top: 0%;
  right: -50px;
  background-color: white;
  border-radius: 50%;
  padding: 7px;
}
.vertical_card > .floating_close {
  cursor: pointer;
  width: 40px;
  position: absolute;
  top: 50%;
  right: -50px;
  background-color: white;
  border-radius: 50%;
  padding: 7px;
}
